<div class="footer-container">
    <div class="footerlinks">
        <a
            href="https://www.psmhelp.com/section2257"
            class="external"
            rel="noreferrer nofollow"
            title=""
            id=""
            target="_blank"
        >
            <div class="footer-link main first">2257</div>
        </a><a
            href="https://www.psmhelp.com/tos"
            class="external"
            rel="noreferrer nofollow"
            title=""
            id=""
            target="_blank"
        >
            <div class="footer-link main">TERMS</div>
        </a><a
            href="https://www.psmhelp.com/privacy"
            class="external"
            rel="noreferrer nofollow"
            title=""
            id=""
            target="_blank"
        >
            <div class="footer-link main">PRIVACY POLICY</div>
        </a><a
            href="https://www.psmhelp.com/refund"
            class="external"
            rel="noreferrer nofollow"
            title=""
            id=""
            target="_blank"
        >
            <div class="footer-link main">REFUND POLICY</div>
        </a><a
            href="https://www.psmhelp.com/faq"
            class="external"
            rel="noreferrer nofollow"
            title=""
            id=""
            target="_blank"
        >
            <div class="footer-link main">F.A.Q.'S</div>
        </a><a
            href="https://www.psmhelp.com/technicalsupport"
            class="external"
            rel="noreferrer nofollow"
            title=""
            id=""
            target="_blank"
        >
            <div class="footer-link main">HELP</div>
        </a><a
            href="https://www.psmhelp.com"
            class="external"
            rel="noreferrer nofollow"
            title=""
            id=""
            target="_blank"
        >
            <div class="footer-link main">CUSTOMER SERVICE</div>
        </a><a
            href="https://www.psmhelp.com/billingsupport"
            class="external"
            rel="noreferrer nofollow"
            title=""
            id=""
            target="_blank"
        >
            <div class="footer-link main">BILLING SUPPORT</div>
        </a><a
            href="https://www.paperstreetcash.com/"
            class="external"
            rel="noreferrer nofollow"
            title=""
            id=""
            target="_blank"
        >
            <div class="footer-link main">WEBMASTERS</div>
        </a><a
            href="https://www.sislovesme.com/discount"
            class="external"
            rel="noreferrer "
            title=""
            id=""
            target="_blank"
        >
            <div class="footer-link main">DISCOUNT</div>
        </a><a
            href="https://www.sislovesme.com/review"
            class="external"
            rel="noreferrer "
            title=""
            id=""
            target="_blank"
        >
            <div class="footer-link main">REVIEW</div>
        </a>
    </div>

    <div>
        <div class="segpayepoch">
            Please visit&nbsp;<a
                href="http://cs.segpay.com"
                class="external"
                rel="noreferrer nofollow"
                title=""
                id=""
                target="_blank"
            >
                <div class="footer-link first">SEGPAY.COM</div>
            </a><a
                href="http://epoch.com/"
                class="external"
                rel="noreferrer nofollow"
                title=""
                id=""
                target="_blank"
            >
                <div class="footer-link">EPOCH.COM</div>
            </a>, our authorized sales agents.
        </div>
    </div>

    
</div>

<style>
    .footer-container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .footerlinks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .footerlinks a {
        color: #fff;
        text-decoration: none;
        padding: 1em;
    }

    .segpayepoch {
        display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fbf664;
    }

    .external {
        color: #FFF
    }
</style>
